<!-- <footer class="footer">
    <div class="container">
      <div class="logo-button-container">
          <img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo" class="logo"> <a href="https://www.montana.edu/storytelling/" class="button">Storytelling {{ site.time | date: '%Y' }}</a>
      </div>
    </div>
</footer> -->
<footer class="footer">
  <div class="container">

      <p class="text-center">
          Storytelling {{ site.time | date: '%Y' }}
      </p>
      <!-- <p class="text-muted">Place sticky footer content here.</p> -->
  </div>
</footer>
