<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo"></span> {{ site.title }}
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='Docs' %} class="active" {% endif %}><a href="{{ "/docs/home/" | relative_url }}">Culturally Responsive Computing in Middle School</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">


            <li><a href="{{ "/docs/intro/" | relative_url }}" >Intro</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Background Material <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ "/docs/background_material/alice-intro/" | relative_url }}">Alice Intro</a></li>
                    <li><a href="{{ "/docs/background_material/cs-fundamentals/" | relative_url }}">CS Fundamentals</a></li>
                    <li><a href="{{ "/docs/background_material/iefa-background/" | relative_url }}">IEFA Background</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Lesson Plans <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{{ "/docs/lesson_plans/01-beaded-bag-lp/" | relative_url }}">01 - Beaded Bag</a></li>
                    <li><a href="{{ "/docs/lesson_plans/02-horses-lp/" | relative_url }}">02 - Horses</a></li>
                    <li><a href="{{ "/docs/lesson_plans/03-other-lps/" | relative_url }}">03 - Other LPs</a></li>
                </ul>
            </li>

            <li><a href="{{ "/docs/assessment/" | relative_url }}" >Assessment</a></li>

            <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            </div>
        </div>
    </div>
</nav>
